@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/components.css';
@import '~tailwindcss/dist/utilities.css';


*{padding: 0;
margin: 0;}


.with-bg{
    /* background-image: url('/images/illu.jpg'); */
    background-size: cover;
    background-position: 50% 48%;
    height: 55vh;
    width: 100%;

}
.with-bg2{
    /* background-image: url('/images/illu.jpg'); */
    background-size: cover;
    background-position: 50% 48%;
    height: 30vh;
    width: 100%;

}
.container{
    max-width: 100%;
}
#animated-background{
    animation: bgfade 15s infinite;
    background-size:cover;
    transition-delay: 5s;
   width: 100%;
    background-position: 50% 60%;
    }
    
    @keyframes bgfade {
        
        0% {
            background-image: url(../../assets/images/slider1920x1080_1.jpg);
             
        }
        
        50% {
        background-image: url(../../assets/images/slider1920x1080_4.jpg);
        }
    100% {
    background-image: url(../../assets/images/slider1920x1080_5.jpg);
    }
    }


.sliderimg{
    width: 100%;
    height: 400px;
    object-fit: cover
  }
.vil{
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
}

a:hover{text-decoration: none !important;
cursor: pointer;
font-weight: 500;}

.cls-1{fill:#fefefe;}.cls-2{fill:#f37e52;}.cls-3{fill:#dbdbdb;}.cls-4{fill:#fefcfb;}.cls-5{fill:#f37f53;}





/* .aa{width: 100%;} */
.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}


.input-file {
    display: none;
}

.prom{ box-shadow: -2px 2px 5px 2px rgb(144, 137, 137) !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.tab1{width: 100%;}